@model  List<mingmar4thsem.Models.person>

@{
    ViewBag.Title = "inputPerson";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sn = 0;
}

<link rel="stylesheet" href="~/Content/tableStyle.css" />
<div class="containerInfo">
<table class="tbl" border="1">
    <tr>
        <th>Sn</th>
        <th>Name</th>
        <th>Address</th>
        <th>Contact</th>
    </tr>

    @foreach(var data in Model)
            {
                <tr>
                    <td>@(++sn)</td>
                    <td>@data.name</td>
                    <td>@data.address</td>
                    <td>@data.contact</td>
                </tr>
                
            }
</table>
    <form>
        <h3>Enter record</h3>
        <label for="name">Name</label>
        <br />
        <input type="text" name="name" id="name" />
        <br />
        <label for="address">Address</label>
        <br />
        <input type="text" name="address" id="address" />
        <br />
        <label for="contact">Contact</label>
        <br />
        <input type="text" name="contact" id="contact" />
        <br />
        <button type="button" id="add">Add</button>  
    </form>
</div>
